:root {
     --app-background-color: #040a13;
    --app-color: #1d2e3f;
    --border-color: #38444d;
    --tron-color: #00a8ff;
    --input-color: #253341;
    --text-color: #d7dadc;
    // --text-dim: #878a8c;
    // --votebar: #f7f9fa;
    // --icon-color: #878a8c;
    // --navbtn-color: #0079d3;
    // --navbtn-text: #d7dadc;
}

[theme="dark"] {
    --app-background-color: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    // --app-color: #1a1a1b;
    // --border-color: #343536;
    // --input-color: #272729;
    // --input-border: #343536;
    // --button-color: #d7dadc;
    // --button-text: #151516;
    // --pill-color: #272729;
    // --pill-text: #d7dadc;
    // --text-color: #d7dadc;
    // --text-dim: #818384;
    // --votebar: #151516;
    // --icon-color: #818384;
    // --navbtn-color: #d7dadc;
    // --navbtn-text: #030303;
}
