
<div class="flex px-4 py-3 text-xl border-b border-gray-border story">
    <div class="flex flex-col">
        <span class="flex justify-between text-xs text-gray-dim"
            >Trending in United States <i class="fa fa-chevron-down" aria-hidden="true"></i></span
        ><span class="text-sm font-semibold leading-5">Bill Cosby</span>
        <span class="text-sm leading-5 text-gray-dim">
            A new mugshot of Bill Cosby is making the rounds</span
        >
        <span class="text-xs text-gray-dim">20.7K Tweets</span>
    </div>
</div>
<div class="flex px-4 py-3 text-xl border-b border-gray-border story">
    <div class="flex flex-col w-full">
        <span class="flex justify-between text-xs text-gray-dim"
            >Trending in United States <i class=" fa fa-chevron-down" aria-hidden="true"></i></span
        ><span class="text-sm font-semibold leading-5">#InternationalAssDay</span>

        <span class="text-xs text-gray-dim">27K Tweets</span>
    </div>
</div>
<div class="flex px-4 py-3 text-xl border-b border-gray-border story">
    <div class="flex flex-col">
        <span class="text-xs text-gray-dim">US elections - LIVE</span
        ><span class="text-sm font-semibold leading-5">California: Election news and updates</span>
    </div>
    <img
        class="object-cover w-48 rounded-xl"
        src="https://pbs.twimg.com/semantic_core_img/1304441681899479041/gwkbEFvL?format=png&name=240x240"
        alt=""
    />
</div>
